# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=telemetry_db

# Kafka configuration
KAFKA_BROKER=localhost:29092

# WarmHouse provider configuration
WARMHOUSE_API_URL=http://localhost:8080

# Server configuration
PORT=:8083
